*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid #3596F5;
}

.navbar{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    text-align: center;
}

.navbar-item{
    margin-left: 40px;
    margin-right: 40px;
}

.navbar-menu :hover {
    background-color: #3596F5;
}

.navbar-link{
    text-decoration: none;
    color: #fff;
}

.navbar-text{
    display: block;
    color: #fff;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
}

.navbar-contacts{
    text-align: right;
}

.navbar-phone{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
}

.img{
    margin-left: 81px;
    margin-top: 60px;
    width: 734px;
    height: 640px;
    flex-shrink: 0;
    margin-bottom: 150px;
}

footer{
    font-family: 'Roboto', sans-serif;
    background-color: #D7D7D7;
    width: 1750x;
    height: 171px;
    flex-shrink: 0;
    border-top: 4px solid #3596F5;
}

.tel {
    color: #635854;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline;
    margin-left: 285px;
    margin-top: 40px;
    position: absolute;
}

.zakaz {
    color: #635854;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline;
    padding-left: 285px;
    margin-top: 40px;
    position: absolute;
}

.img2 {
    margin-left: 100px;
    margin-top: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    display: inline;
    position: absolute;
}

.img3 {
    margin-left: 500px;
    margin-top: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    display: inline;
    position: absolute;
}

.img4 {
    margin-left: 600px;
    margin-top: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    display: inline;
    position: absolute;
}

.img5 {
    margin-left: 700px;
    margin-top: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    display: inline;
    position: absolute;
}


.polite {
    font-family: Roboto;
    display: inline;
    padding: 10px;
    padding-left: 100px;
    font-size: 16px;
    text-decoration-line:underline ;
    margin-left: 1200px;
    margin-top: 30px;
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
}

.polite a {
    text-decoration: none ;
    line-height: normal;
    text-decoration-line: underline;
    color: #635854;
}

.floor {
    position: absolute;
    margin-left: 1500px;
    margin-bottom: 100px;
}

.itaz {
    position: absolute;
    color: #635854;
    margin-left: 1100px;
    margin-top: 10px;
    font-family: Roboto;
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.verx {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 1350px;
    margin-top: 200px;
}
.niz {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 1350px;
    margin-top: 350px;
}
.zero {
    width: 74.907px;
    height: 75.684px;
    fill: #635854;
    position: absolute;
    margin-left: 1330px;
    margin-top: 250px;
}
.podval {
    display: inline-flex;
    padding: 16px 36px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px;
    background: #3596F5;
    color: white;
    position: absolute;
    margin-left: 1230px;
    margin-top: 500px;
    cursor: pointer;
}

.podval:hover {
    transform: scale(1.1);
}

.verx:hover {
    transform: scale(1.07);
}

.niz:hover {
    transform: scale(1.07);
}
